<h2>Categories</h2>
  <%= link_to "New Category", new_category_path %><br/><br/>
<% @categories.each_with_index do |p,index| %>
  <%= link_to p.name, category_path(p.id) %>  <%= p.articles.count %><br/>
<% end %>
